html, body 
{
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
.wrapper 
{
  height: 100vh;
  width: 100vw;
}

.header, .footer 
{
	background: #232D3F;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerItem, .footerItem
{
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	color:white;
	text-align: center;
}

.footerSmallText
{
	font-size: 1.5rem;
}

.clickable:hover 
{
  background-color: #005B41;
  cursor: pointer;
}

.contentContainer 
{
	background: #0F0F0F;
	overflow:hidden;
}


@media (orientation: portrait) 
{
	.header, .footer 
	{
	  height: 10vh;
	  width: 100vw;
	  flex-direction: row;			  
	}
	.headerItem, .footerItem
	{
		height:100%;
	}
	.contentContainer 
	{
	  height: 80vh;
	  width: 100vw;
	}
	.contentMaxScaling 
	{
	  max-width: 100vw;
	  max-height:100%;
	  margin-left: 50vw;
	  margin-top: 40vh;
	  transform: translate(-50%,-50%);
	}
}

@media (orientation: landscape ) 
{
	.header, .footer 
	{
	  height: 100vh;
	  width: 10vw;
	  flex-direction: column-reverse;
	  float:left;
	}
	.headerItem, .footerItem
	{
		width:100%;
	}
	.contentContainer 
	{
	  height: 100vh;
	  width: 80vw;
	  float:left;
	}
	.contentMaxScaling 
	{
	  max-width: 100%;
	  max-height:100vh;
	  margin-left: 40vw;
	  margin-top: 50vh;
	  transform: translate(-50%,-50%);
	}
	.rotatingItem
	{
		transform: rotate(-90deg);
	}
}





