html, body 
{
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
.wrapper 
{
  height: 100dvh;
  width: 100dvw;
}

.header, .footer 
{
	background: #232D3F;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerItem, .footerItem
{
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	color:white;
	text-align: center;
}

.footerSmallText
{
	font-size: 1.5rem;
}

@media(hover: hover) and (pointer: fine) 
{
	.clickable:hover 
	{
	background-color: #005B41;
	cursor: pointer;
	}
}

.contentContainer 
{
	background: #0F0F0F;
	overflow:hidden;
	display: grid;
}


@media (orientation: portrait) 
{
	.header, .footer 
	{
	  height: 10dvh;
	  width: 100dvw;
	  flex-direction: row;			  
	}
	.headerItem, .footerItem
	{
		height:100%;
	}
	.contentContainer 
	{
	  height: 80dvh;
	  width: 100dvw;
	}
	.contentMaxScaling 
	{
	  z-index: 1;
	  grid-column: 1;
	  grid-row: 1;
	  max-width: 100dvw;
	  max-height:100%;
	  margin-left: 50dvw;
	  margin-top: 40dvh;
	  transform: translate(-50%,-50%);
	}
}

@media (orientation: landscape ) 
{
	.header, .footer 
	{
	  height: 100dvh;
	  width: 10dvw;
	  flex-direction: column-reverse;
	  float:left;
	}
	.headerItem, .footerItem
	{
		width:100%;
	}
	.contentContainer 
	{
	  height: 100dvh;
	  width: 80dvw;
	  float:left;
	}
	.contentMaxScaling 
	{
	  z-index: 1;
	  grid-column: 1;
	  grid-row: 1;
	  max-width: 100%;
	  max-height:100dvh;
	  margin-left: 40dvw;
	  margin-top: 50dvh;
	  transform: translate(-50%,-50%);
	}
	.rotatingItem
	{
		transform: rotate(-90deg);
	}
}





